/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Cookie|Lato|Source+Sans+Pro');

/* Custom Styles */

/* Background */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.icons {
  vertical-align: -10%;
  color: rgb(66, 31, 102);
}

/* Landing Page */
.contentBox {
  background-image: url('../images/meric-dagli-487809-unsplash.jpg');
  background-position: -250px 0;
  width: 60%;
  height: 550px;
  margin: 50px auto;
  border-radius: 5px; 
  box-shadow: 5px 10px 18px #888888;
}

.mainTitle {
  text-align: center;
  padding-top: 1.5em;
  color: rgb(240, 240, 240);
  font-family: 'Cookie', cursive;
  font-size: 52px;
}

.mainImage {
  width: 150px;
  border-radius: 50%;
  margin: 50px auto;
}

.mainBlurb {
  color: rgb(240, 240, 240);
  text-align: center; 
}

.buttonStorage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainButtons {
  text-decoration: none;
}

/* Nav */
.navHeader{
  background-image: url('../images/meric-dagli-487809-unsplash.jpg');
  background-position: -50px 0;
  background-repeat: no-repeat;
  width: 100%;
}

.navHeader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navHeader li {
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 25px 18px;
  text-decoration: none;
  font-size: 18px;
}

.siteTitle {
  font-family: 'Cookie', cursive;
  font-size: 40px;
  color: #F2F2F2;
  text-decoration: none;
}

.links {
  margin-top: 13px;
}

.styledLinks {
  color: #F2F2F2;
  text-decoration: none;
}

.activeLinks {
  text-decoration: underline;
}

/* Content Pages */
.headers {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif; 
}

.contentSpacing {
  width: 60%;
  margin: 50px auto;
}

/* About Page */
.aboutHeaders {
  font-family: 'Cookie', cursive;
  font-size: 38px;
}

.coffeeCup {
  vertical-align: -8px;
}

.aboutLinks {
  text-decoration: none;
  color: rgb(66, 31, 102);
}

.aboutLinks:hover {
  font-weight: bold;
}

.aboutMeImages {
  margin: 0 auto;
  box-shadow: 3px 3px 12px #888888; 
}

.crossStitchImage {
  width: 300px;
}

.hamiltonImage {
  width: 350px;
}

/* Contact Page */
.contactContent {
  display: flex;

}

.contactLinks {
  width: 30%;
}

.contactForm {
  width: 70%;
}

/* .contactItem {
  margin-bottom: 25px;
} */

.contactItem a {
  text-decoration: none;
  color: black;
  padding-bottom: -150px;
}

.contactItem a:hover {
  font-weight: bold;
}

/* Blog */
.blogCard {
  width: 90%;
  box-shadow: 5px 8px 18px #888888;
  padding: 10px;
  margin-bottom: 20px;
}

.blogCardTitle {
  text-decoration: none;
  color: black;
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navHeader li {
    float: none;
    padding: 2px;
  }
  body {
    /* overflow: hidden; */
    height: 100%;
  }
  .contentBox {
    height: 53em;
    margin-top: -21px; 
    margin-bottom: -40px;
    overflow: hidden;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
  }
  .blogCard {
    box-shadow: none;
    margin: 0;
    border-bottom: 1px gray;
    padding: 0;
  }
  .blogExcerpt {
    display: none;
  }
} 





