/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Cookie|Lato');

/* Custom Styles */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: linear-gradient(-20deg, #adadad 0%, #e1e3e9
  100%);
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}

.navHeader{
  background-image: url('../images/meric-dagli-487809-unsplash.jpg');
  background-position: -50px 0;
  background-repeat: no-repeat;
  width: 100%;
}

.navHeader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navHeader li {
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.siteTitle {
  font-family: 'Cookie', cursive;
  font-size: 30px;
  color: #F2F2F2;
  text-decoration: none;
}

.links {
  margin-top: 8px;
}

.styledLinks {
  color: #F2F2F2;
  text-decoration: none;
}

.activeLinks {
  text-decoration: underline;
}

.mainImage {
  width: 150px;
  border-radius: 50%;
  margin: 10% 8% 10% 15%;
  float: left;
}

.greeting {
  width: 500px;
  margin-top: 10%;
  float: left;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navHeader li {
    float: none;
    padding: 2px;
  }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 930px) {
  .mainImage {
    float: none;
  }
  .greeting {
    float: none;
    margin: 5% 15%;
    
  }
}
