/* Google Font Import */
@import url('https://fonts.googleapis.com/css?family=Cookie|Lato');

/* Custom Styles */

/* Background */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #d9d9d9;
  font-family: 'Lato', sans-serif;
}

/* Nav */
.navHeader{
  background-image: url('../images/meric-dagli-487809-unsplash.jpg');
  background-position: -50px 0;
  background-repeat: no-repeat;
  width: 100%;
}

.navHeader ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navHeader li {
  float: left;
  display: block;
  color: #F2F2F2;
  text-align: center;
  padding: 25px 18px;
  text-decoration: none;
  font-size: 18px;
}

.siteTitle {
  font-family: 'Cookie', cursive;
  font-size: 40px;
  color: #F2F2F2;
  text-decoration: none;
}

.links {
  margin-top: 13px;
}

.styledLinks {
  color: #F2F2F2;
  text-decoration: none;
}

.activeLinks {
  text-decoration: underline;
}

/* Landing Page */
.mainImage {
  width: 150px;
  border-radius: 50%;
  margin: 10% 8% 10% 15%;
  float: left;
}

.greeting {
  width: 500px;
  margin-top: 10%;
  float: left;
}

/* Content Pages */
.headers {
  text-align: center;
}

.contentSpacing {
  width: 60%;
  margin: 50px auto;
}

/* About Page */
.resumeHeader {
  font-family: 'Cookie', cursive;
  font-size: 32px;
  color: rgb(79, 28, 134);
}

.resumeText {
  font-size: 12px;
  margin-top: -15px;
}

.row {
  border-color: rgb(79, 28, 134);
  width: 70%;
}

.resumeSectionHeaders {
  color: rgb(79, 28, 134);
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 16px;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.skillsList li {
  list-style-type: none;
  margin: 8px 10px;
}

/* Contact Page */
.contactForm {
  width: 70%;
  margin: 0 auto;
}

/* Responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navHeader li {
    float: none;
    padding: 2px;
  }
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 930px) {
  .mainImage {
    float: none;
  }
  .greeting {
    float: none;
    margin: 5% 15%;
  }
  .skillsList {
    flex-direction: column;
  }
  .skillsList li {
    margin-top: -10px;
  }
}
